/* ----------- */
/* Breakpoints */
/* ----------- */

@custom-media --screen-mobile-only (width < 640px);
@custom-media --screen-tablet (width >= 640px);
@custom-media --screen-tablet-only (640px <= width < 960px);
@custom-media --screen-desktop (width >= 960px);

/* --------- */
/* Selectors */
/* --------- */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-muted: 231 77% 90%;
  --clr-light: 0 0% 100%;
  --clr-divider: 231 15% 26%;

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans: 'Barlow', sans-serif;
  --ff-condensed: 'Barlow Condensed', sans-serif;

  /* font-weights */
  --fw-normal: 400;
  --fw-bold: 700;

  /* line-heights */
  --lh-tight: 1.1;
  --lh-snug: 1.25;
  --lh-normal: 1.5;

  /* letter-spacing */
  --ls-wide: 2.35px;
  --ls-wider: 2.7px;
  --ls-widest: 4.725px;

  /* font-sizes */
  --fs-3xl: 5rem;
  --fs-2xl: 3.5rem;
  --fs-xl: 1.5rem;
  --fs-lg: 1rem;
  --fs-md: 1rem;
  --fs-base: 1rem;
  --fs-nav: 1rem;

  /* spacing */
  --gutters-inline: 1.5rem;
  --gutters-block: 1.5rem;
  --gutters-bottom-clamp: var(--gutters-block);

  /* effects */
  --backdrop-blur: blur(80px);
}

@media (--screen-tablet) {
  :root {
    --fs-3xl: 9.375rem;
    --fs-2xl: 5rem;
    --fs-xl: 2.5rem;
    --fs-lg: 1.5rem;
    --fs-md: 1.25rem;
    --fs-base: 1.125rem;
    --fs-nav: 0.875rem;

    --gutters-inline: 2.5rem;
    --gutters-block: 2.5rem;
    --gutters-bottom-clamp: 5rem;
  }
}

@media (--screen-desktop) {
  :root {
    --fs-3xl: 9.375rem;
    --fs-2xl: 6.25rem;
    --fs-xl: 3.5rem;
    --fs-lg: 2rem;
    --fs-md: 1.75rem;
    --fs-nav: 1rem;

    --gutters-inline: 5rem;
    --gutters-block: 5rem;
    --gutters-bottom-clamp: max(5rem, 14vh);
  }
}

/* ------------ */
/* Global Reset */
/* ------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  font-family: var(--ff-sans);
  line-height: var(--lh-normal);
  font-weight: var(--fw-normal);
  font-size: var(--fs-base);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-muted));
  background-repeat: no-repeat;
  background-size: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

p,
span,
:--heading {
  font: inherit;
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------ */
/* Utilities    */
/* ------------ */

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-muted {
  background-color: hsl(var(--clr-muted));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-glass {
  background-color: hsl(var(--clr-dark) / 0.5);
}
@supports (backdrop-filter: var(--backdrop-blur)) {
  .bg-glass {
    background-color: hsl(var(--clr-light) / 0.04);
    backdrop-filter: var(--backdrop-blur);
  }
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-muted {
  color: hsl(var(--clr-muted));
}
.text-light {
  color: hsl(var(--clr-light));
}

/* text-transform */
.uppercase {
  text-transform: uppercase;
}

/* font-families */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans {
  font-family: var(--ff-sans);
}
.ff-condensed {
  font-family: var(--ff-condensed);
}

/* font-sizes */
.fs-3xl {
  font-size: var(--fs-3xl);
  line-height: var(--lh-tight);
}
.fs-2xl {
  font-size: var(--fs-2xl);
  line-height: var(--lh-tight);
}
.fs-xl {
  font-size: var(--fs-xl);
  line-height: var(--lh-tight);
}
.fs-lg {
  font-size: var(--fs-lg);
  line-height: var(--lh-snug);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-base {
  font-size: var(--fs-base);
}
.fs-nav {
  font-size: var(--fs-nav);
}

/* font-weights */
.fw-normal {
  font-weight: var(--fw-normal);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

/* letter-spacings */
.ls-normal {
  letter-spacing: 0;
}
.ls-wide {
  letter-spacing: var(--ls-wide);
}
.ls-wider {
  letter-spacing: var(--ls-wider);
}
.ls-widest {
  letter-spacing: var(--ls-widest);
}

/* line-heights */
.lh-tight {
  line-height: var(--lh-tight);
}
.lh-snug {
  line-height: var(--lh-snug);
}
.lh-normal {
  line-height: var(--lh-normal);
}

/* layout */
.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.space-y > * + * {
  margin-top: var(--space-y, 1rem);
}

.space-x > * + * {
  margin-left: var(--space-x, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.underline-indicator {
  position: relative;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
.underline-indicator.active,
.underline-indicator[aria-selected='true'] {
  color: hsl(var(--clr-light));
}
.underline-indicator::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  bottom: var(--underline-offset, 0);
  height: var(--underline-height, 3px);
  opacity: 0;
  transition: opacity 300ms linear, transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  background-color: hsl(var(--clr-light));
}
.underline-indicator.active::after,
.underline-indicator[aria-selected='true']::after {
  color: hsl(var(--clr-light));
  transform-origin: left;
  transform: scaleX(1);
  opacity: 1;
}
.underline-indicator:hover::after,
.underline-indicator:focus::after {
  transform-origin: left;
  transform: scaleX(1);
  opacity: 0.5;
}

/* ------------ */
/* Layout       */
/* ------------ */

.grid-container {
  flex: 1;
  display: grid;
  width: min(100%, calc(85rem + (var(--gutters-inline) * 2)));
  margin-inline: auto;
  column-gap: var(--container-gap, 2rem);
  text-align: center;
  grid-auto-rows: var(--container-auto-rows, min-content);
  padding: var(--container-padding, var(--gutters-block) var(--gutters-inline) var(--gutters-bottom-clamp));
}

.grid-container p {
  max-width: 48ch;
}

@media (--screen-tablet) {
  .grid-container {
    column-gap: var(--container-gap, 4rem);
  }
}

@media (--screen-desktop) {
  .grid-container {
    grid-template-columns: var(--container-template-columns, repeat(2, 1fr));
    text-align: left;
  }
}
