---
import Layout from '$layouts/Layout.astro';
import ExploreBtn from '$components/ExploreButton.astro';
import { generateUrl } from '$utils/navigation';
---

<Layout title="Frontend Mentor | Space tourism website">
  <main class="grid-container">
    <div class="container-left space-y">
      <h1 class="uppercase space-y">
        <span class="fs-md ff-condensed ls-widest">So, you want to travel to</span>
        <span class="fs-3xl ff-serif ls-normal text-light">Space</span>
      </h1>
      <p>
        Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of
        on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
      </p>
    </div>
    <div class="container-right">
      <ExploreBtn href={generateUrl('destination', 'moon')}>Explore</ExploreBtn>
    </div>
  </main>
</Layout>

<style is:global>
  body {
    background-image: url('/assets/home/background-home-mobile.jpg');
    background-position: bottom center;
  }
  @media (--screen-tablet) {
    body {
      background-image: url('/assets/home/background-home-tablet.jpg');
    }
  }
  @media (--screen-desktop) {
    body {
      background-image: url('/assets/home/background-home-desktop.jpg');
      background-position: center;
    }
  }
</style>

<style>
  .grid-container {
    --container-gap: 5rem;
    --container-my: 3rem;
    text-align: center;
  }

  .container-left {
    --space-y: 1rem;
    justify-self: center;
  }

  .container-left h1 > * {
    display: block;
  }

  .container-left p {
    max-width: 45ch;
    margin-inline: auto;
  }

  .container-right {
    justify-self: center;
  }

  @media (--screen-tablet) {
    .grid-container {
      --container-my: 5.625rem;
    }
    .container-left {
      --space-y: 1.5rem;
    }
  }

  @media (--screen-desktop) {
    .grid-container {
      text-align: left;
      --container-my: 3rem max(8.125rem, 14vh);
    }

    .container-left {
      place-self: end start;
    }

    .container-right {
      place-self: end;
    }
  }
</style>
