<footer class="text-muted bg-glass">
  <span>
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  </span>
  <span>Coded by <a href="https://github.com/AntoineC-dev" aria-label="Github">Antoine C</a>.</span>
</footer>

<style>
  footer {
    width: 100%;
    padding: 0.75rem 1.5rem;
    text-align: center;
    font-size: 0.75rem;
  }

  footer > span {
    display: inline-block;
  }

  footer a {
    color: hsl(var(--clr-muted));
    transition: color 150ms linear;
  }

  footer a:hover,
  footer a:focus {
    color: hsl(var(--clr-light));
  }

  @media (--screen-tablet) {
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      font-size: 0.875rem;
      padding-inline: 2.5rem;
      border-top-right-radius: 0.5rem;
      width: max-content;
    }
  }
</style>
