---
export interface Props {
  label: string;
  number: string;
}

const { label, number } = Astro.props;
---

<h1 class="uppercase fs-md ff-condensed ls-widest">
  <span class="fw-bold">{number}</span><span>{label}</span>
</h1>

<style>
  h1 {
    grid-area: numbered-title;
    margin-bottom: 2rem;
  }

  h1 > span:first-child {
    color: hsl(var(--clr-light) / 0.25);
    margin-right: clamp(1.13rem, calc(0.88rem + 1.03vw), 1.5rem);
  }

  @media (--screen-tablet) {
    h1 {
      justify-self: start;
      margin-bottom: 3.75rem;
    }
  }
</style>
